<template>
    <div class="account-box">
        <div class="account-wrapper">
            <h3 class="account-title">Login</h3>
            <p class="account-subtitle">Access to system</p>
            <!-- Account Form -->
            <form @submit.prevent="login" method="POST">
                <div class="form-group">
                    <label>Email Address</label>
                    <input class="form-control" v-model="loginData.email" type="text" name="email">
                    <small v-if="errors.email" class="text-danger">{{ errors.email[0] }}</small>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col">
                            <label>Password</label>
                        </div>
                    </div>
                    <input v-model="loginData.password" class="form-control" type="password" name="password">
                    <small v-if="errors.password" class="text-danger">{{ errors.password[0] }}</small>
                </div>
                <div class="form-group text-center">
                    <button class="btn btn-primary account-btn" type="submit" style="background:red">Login</button>
                </div>
            </form>
            <!-- /Account Form -->
            
        </div>
    </div>
</template>
<script>
export default ({
    props: {
        loginUrl: String,
        redirectUrl: String
    },
    data() {
        return {
            loginData: {
                email: '',
                password: ''
            },
            errors: [],
            headers: {
                'X-CSRF-TOKEN' : document.querySelector('meta[name="csrf-token"]').getAttribute('content')
            }
        }
    },
    methods: {
        async login() {
            await axios.post(this.loginUrl, this.loginData, this.headers)
                .then((res) => {
                    if (res.data.status) {
                        window.location.href = this.redirectUrl
                    }
                }).catch((err) => {
                    this.errors = err.response.data.errors;
                });
        }
    }
})
</script>
